@font-face {
  font-family: "iconfont"; /* Project id 5170726 */
  src: url('iconfont.woff2?t=1778660718938') format('woff2'),
       url('iconfont.woff?t=1778660718938') format('woff'),
       url('iconfont.ttf?t=1778660718938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_add:before {
  content: "\e76e";
}

.icon-icon_close_dialog:before {
  content: "\e792";
}

.icon-fi_shopping-cart:before {
  content: "\e61f";
}

.icon-icon_arrow_right:before {
  content: "\e77e";
}

.icon-icon_arrow_left:before {
  content: "\e77a";
}

.icon-icon_done:before {
  content: "\e774";
}

.icon-icon_arrow_down:before {
  content: "\e793";
}

.icon-icon_arrow_up:before {
  content: "\e794";
}

.icon-santiaogang:before {
  content: "\e600";
}

.icon-icon_website:before {
  content: "\e786";
}

.icon-icon_subtract:before {
  content: "\e7a5";
}

