@font-face {
    font-family: PingFangSC;
    src: url("https://biajikit-test.oss-ap-southeast-1.aliyuncs.com/assets/font/PINGFANG BOLD_0.TTF")
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    box-sizing: border-box;
    transition: .3s all;
    font-family: PingFangSC;
}

body,html {
    background: var(--background);
    color: var(--foreground);
}

/*定义滚动条高宽及背景

 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: .5;
}

/*定义滚动条轨道

 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    opacity: .5;
}

/*定义滑块

 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

@layer utilities {
    .pop-down { animation: pop-down-animation 0.2s ease-in; }
    .pop-up   { animation: pop-up-animation 0.2s ease-in; }
    .pop-right{ animation: pop-right-animation 0.2s ease-in; }
}

@media (min-width: 1133px) {
    [class*="md:pop-right"] {
        animation: pop-right-animation 0.2s ease-in!important;
    }
}


@keyframes pop-down-animation {
    0% {
        opacity: .7;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop-up-animation {
    0% {
        opacity: .7;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop-right-animation {
    0% {
        opacity: .7;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}